* {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* text-align: center; */
}

img {
  width: 100%;
  display: block;
}


.container {
  background: rgb(111,233,236);
  background: linear-gradient(290deg, rgba(111,233,236,1) 0%, rgba(249,198,92,1) 100%);
  
}

.navbar {
  width: 80%;
  /* max-width: 960px; */
  text-align: center;
  margin: 0 auto;
  padding: 2em 0 1em;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  
  
}

.nav-subtitle {
  margin: 1em;
  padding-top: 0.25em;
  text-decoration: none;
  color: rgb(123, 123, 123);
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 400;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.homepage-imgs {
  /* border-top: rgba(123, 123, 123, 0.529) solid 1px; */
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage-img {
  width: 80%;
  max-width: 400px;
  object-fit: cover;
  margin-bottom: 1em;
}

@media (min-width: 960px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    
  }
  .nav-subtitle-list {
    display: flex;
  }
  .homepage-imgs {
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 3em;
  }
  .homepage-img {
    width: 100%;;
    max-width: 400px;
    margin-right: 1em;
  }
}

/* calculator */
.calculator-container {
  color: white;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  margin-top: 15%;
  
}

.calculator {
  width: 88%;
  max-width: 480px;
}

.screen {
  border: solid rgb(255, 255, 255) 1px;
  height: 8rem;
  line-height: 8rem;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0 1.25em;
  border: none;

}

.cal {
  font-size: 3rem;
  text-align: right;
}

.output {
  font-size: 2rem;
  text-align: right;
}

.main_cal {
  display: flex;
  flex-wrap: wrap;
  /* width: 100%; */
  background-color: rgb(249, 176, 59);

}


.btn {
  border: solid rgb(255, 255, 255) 1px;
  width: 25%;
  height: 10%;
  font-size: 1.25rem;
  text-align: center;
  line-height: 4rem;
  cursor: pointer;
}

.span-two {
  width: 50%;
}

@media (min-width:600px) {
  .btn {
    font-size: 2rem;
    height: 20%;
  }
  .calculator-container {
    margin-top: 10%;
  }
}

.btn:nth-child(1),
.btn:nth-child(4),
.btn:nth-child(8),
.btn:nth-child(12),
.btn:nth-child(16) {
  border-left: none;
}

.btn:nth-child(3),
.btn:nth-child(7),
.btn:nth-child(11),
.btn:nth-child(15),
.btn:nth-child(18) {
  border-right: none;
}

.btn:nth-child(16),
.btn:nth-child(17),
.btn:nth-child(18) {
  border-bottom: none;
}

.btn:hover {
  background: rgb(111,233,236);
  background: linear-gradient(310deg, rgba(111,233,236,1) 0%, rgba(249,198,92,1) 100%);
}




/* tictactoe */
.ttt-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Gill Sans", sans-serif;
  margin-top: 8%;
}

.score-container {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
  width: 100%;
  margin: 1em 0
}

.score {
  margin: 0 3em;
}


.winner_msg {
  font-size: 2rem;
  margin-bottom: 1em;
}

.ttt-body {
  width: 70%;
  max-width: 500px;
  aspect-ratio: 1/1;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 30%;
  aspect-ratio: 1/1;
  border: solid rgba(74, 73, 73, 0.6) 4px;
  border-radius: 10px;
  margin: 0.1em;
  font-size: 2.5rem;
  cursor: pointer;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
}


.ttt-btns {
  display: flex;
  flex-direction: column;
}

.restart {
  padding: 1em 3em;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  outline: none;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 10px;
  letter-spacing: 0.3rem;
  margin-bottom: 0.5em;
}

.restart:hover{
  font-weight: 700;
}

@media (min-width: 670px) {
  .score-container {
    font-size: 2rem;
  }
  .cell {
    font-size: 5rem;
  }
  .winner_msg {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 0.5em;
  }
  .ttt-container {
    margin-top: 3%;
  }
}